.background_image{
  height: 600px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/backgrounds/lit.jpg');
}
#start {
  text-align: center;
  position: relative;
  top: 200px;
  
}

.background_image2{
  height: 1000px;
  background-position: center;
  background-size: initial;
  background-image: url('../images/backgrounds/s_image.jpg');
  background-repeat: no-repeat;
}
.background_image3{
  height: 800px;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));;
  background-image: url('../images/backgrounds/c_image.jpg')
}
#close{
  text-align: center;
}
#close-date{
  text-align: center;
}
.images{
  align-items: center;
}
.welcome{
  text-align: center;
  padding-top: 310px;
  box-sizing: 300PX;
}
.studio{
  text-align: center;
  padding-top: 35px;
}
.p1{
  text-align: center;
  text-decoration: whitesmoke;
  text-color:white;
}
.imagess{
  align-content: center;
  ruby-align: center;
}
.contact{
  padding-top: 50px;
  text-align: center;-
}
#services {
  background-image: url(/images/backgrounds/s_image.jpg);
  color: white;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  
}
.services {
  height: initial;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}
.contact{
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  background-position: center;
  width: auto;
}
#welcome{
  color: white;
}
#design {
  display: none;
}
#development {
  display: none;
}
#products {
  display: none;
}
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
.form-horizontal{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backgrounds/c_image.jpg) no-repeat center center fixed;
}
#form {
  padding: 100px;
}
.form-control {
  background: transparent;
}